.mainInstrument_div {
  height: 140px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  /* background-color: red; */
  margin-top: 20px;
  overflow: auto;
}

.instrumentItem_div {
  min-width: 230px;
  height: 118px;
  background-color: #212f3c;
  border-radius: 2px;
  padding: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.instrumentHead {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14.5px;
  color: #ccc;
  font-weight: bold;
}

.instrumentLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  background-color: #333c45;
}

.instrumentLogo > img {
  /* height: 20px; */
  width: 18px;
  /* height: 80%; */
}

.instrumentValue {
  color: #ccc;
  font-size: 17px;
}

.instrumentValue > * {
  margin-right: 7px;
}

.instrumentVolume {
  margin-top: 1px;
  color: #ccc;
  font-size: 12.5px;
  /* letter-spacing: 0.6; */
}

.instrumentTag {
  font-size: 11px !important;
  line-height: 13px !important;
  margin-right: 7px;
}
